.card-wrapper {
  max-width: 300px;
}

.card-image-wrapper {
  padding: 1rem 0
}

.card-controls {
  flex-direction: row !important; /* TODO: Maybe is my lack of experience with VCC-ui, but I don't know if there is a beter whay to do it */
  gap: 15px;
  justify-content: center;
}

.car-description {
  flex-direction: row !important;
  gap: 5px
}