.flex {
  display: flex;
  gap: 15px
}

.carousel {
  & > .carousel-container {
    & > .carousel-container-inner {
      @extend .flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      -ms-overflow-style: none;
      scrollbar-width: none;
      margin-left: -1rem;
    
      &::-webkit-scrollbar {
        display: none;
      }
    
      & > * {
        scroll-snap-align: center;
        margin-left: 1rem;
      }
    }
  
  }
}

.carousel-navigator {
  @extend .flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .carousel-navigator {
    display: none;
  }

  .carousel-dots {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .dot {
    border: solid 1px black;
    padding: 5px;
    border-radius: 50%;

    &--selected {
      border: solid 1px black;
      padding: 5px;
      border-radius: 50%;
      background-color: black;
    }
  }
}